#link1 {
	right: 240px;
    bottom: 300px;
}

#link2 {
	right: 200px;
    top: 120px;
}

#link3 {
	right: 510px;
    top: 350px;
}

#link4 {
	right: 350px;
    top: 620px;
}

#link5 {
	right: 600px;
    top: 440px;
}

#link6 {
	left: 80px;
    top: 440px;
}

#link7 {
	left: 430px;
    bottom: 400px;
}

#link8 {
	left: 700px;
    bottom: 180px;
}